.howto {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #de5419 0, #de120b 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.howto:focus {
  box-shadow: #f80505 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ef1207 0 -3px 0 inset;
}

.howto:hover {
  box-shadow: rgba(106, 105, 91, 0.4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #201d1a 0 -3px 0 inset;
  transform: translateY(-2px);
}

.howto:active {
  box-shadow: #eb7703 0 3px 7px inset;
  transform: translateY(2px);
}
:root {
  min-height: 110vh;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 110vh;
}

.header-container{
  display: flex;
  align-items: center;
  border-bottom: solid #fde68a;
  height: 5%;
  width: 100%;
  justify-content: space-between;
}

.header-left img{
  height:100%;
  width: 10%;
}

.header-left{
  display: flex;
  width: 40%;
  height: 100%;
  align-items: center;
  gap: 2%;
}

.header-right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1vw;
  padding-bottom: 0.5em;
}

.popup{
  width: 500px;
  background: #bbb;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #d56969;
  visibility: hidden;
  transition: transform 0.7s, top 0.7s;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}

.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0,0.2); */
}

.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;

}

.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #de120b;
  color: #eb7703;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0,0.2);
}