/* NILILINIS KO LANG STYLESHEETS */
:root {
    min-height: 110vh;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 110vh;
}

.header-container{
    display: flex;
    align-items: center;
    border-bottom: solid #fde68a;
    height: 5%;
    width: 100%;
    justify-content: space-between;
}

.header-left img{
    height:100%;
    width: 10%;
}

.header-left{
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    gap: 2%;
}

.header-right {
    width: 40%;
}

.header-right ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li a {
    text-decoration-line: none;
}

.middle-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 50%;
    width: 100%;
    gap: 1%;
}

.slideshow-container{
    height: 40%;
    width: 100%;
}
.announcements-section{
    height: 100%;
    /* border: 2px solid black; */
}

.announcement-container{
    height: 50%;
    background-color: blue;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.announcement-header{
    background-color: #dc2626;
    display: flex;
    align-items: center;
    font-size: 100%;
}

.announcement, .dates{
    background-color: #e5e7eb;
}

.dates-container{
    background-color: green;
    height: 50%;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.dates-header{
    background-color: #dc2626;
    display: flex;
    align-items: center;
}

.footer-container{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: min(10%, 50px);
    background-color: #fde68a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-right{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-right: 5px;
}

.bottom-container{
    background-color: blue;
    width: 55vw;
    height: 27vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.about-header{
    background-color: red;
}