:root{
    height: 100%;
    background-color: #fafafa; 
}

.header-container{
    display: flex;
    margin-bottom: 5%;
    align-items: center;
    border-bottom: solid #fde68a;
    height: 10%;
    width: 100%;
    justify-content: space-between;
}

.header-left{
    align-items: center;
    gap: 2%
}
.header-left>img{
    width: 10%;
    height: 10%;
}
.header-right,.header-right>ul, .header-left{
    display: flex;
}

.PLM-header{
    display: flex;
    flex-direction: column;
}

.header-right ul{
    gap: 10px;
    list-style: none;
}

li a{
    text-decoration-line: none;
}

#mySidenavleft a {
  position: absolute;
  left: -100px;
  transition: 0.4s;
  padding: 30px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 10px 10px 0;
}

#mySidenavleft a:hover {
  left: 0;
  color: yellow;
}

#about {
  top: 110px;
  background-color: #b22222;
}

#blog {
  top: 220px;
  background-color: #b22222;
}

#contact {
  top: 350px;
  background-color: #b22222;
}

/* sidebar right */




/* Slideshow container */
.slideshow-container {
  width: 50%;
  height: 50%;
  position: relative;
  margin: auto;
  border: solid red 5px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* aboout container */

/* button */
.howto {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #de5419 0, #de120b 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.howto:focus {
  box-shadow: #f80505 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ef1207 0 -3px 0 inset;
}

.howto:hover {
  box-shadow: rgba(106, 105, 91, 0.4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #201d1a 0 -3px 0 inset;
  transform: translateY(-2px);
}

.howto:active {
  box-shadow: #eb7703 0 3px 7px inset;
  transform: translateY(2px);
}

/* Message note */

.message
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     background-color: #d7381488; 
     border: solid 1px #e92406;
     border-radius: 6px;
     line-height: 18  px;
     mc-auto-number-format: '{b}Note: {/b}';
     overflow: hidden;
     padding: 12px;
}

.active {
  background-color: #ee1d0a;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
